.site-form-popup .fancybox-content {
	background: #efe5dd;
	overflow: visible;
	padding: 30px;
}

	.site-form-popup .fancybox-close-small {
		color: #64452c !important;
		height: 30px !important;
		padding: 4px !important;
		right: 0 !important;
		top: 0 !important;
		width: 30px !important;
	}
	
		.site-form-popup .site-form__inner {
			border: 1px solid #d8cabf;
			padding: 20px;
		}

.site-form {
}

	.site-form__inner {
	}

		.site-form__item {
			margin-bottom: 14px;
		}
		
			.site-form__item-name {
				display: block;
				margin-bottom: 4px;
			}
			
			.site-form__item--privacy-policy,
			.site-form__item--captcha {
				font-size: 12px;
			}
			
				.site-form__item--privacy-policy {
					display: flex;
					align-items: center;
				}
				
					.site-form__item--privacy-policy input {
						flex-grow: 0;
						flex-shrink: 0;
					}
				
					.site-form__item--privacy-policy p {
						margin: 0;
						line-height: 1.2;
					}
			
				.site-form__star-required {
					color: #ff0000;
				}
				
			.site-form__item--captcha {
				display: flex;
				flex-wrap: wrap;
			}
				
				.site-form__item--captcha p {
					flex: 0 0 100%;
					margin-bottom: 10px;
				}
				
				.site-form__captcha-image {
					flex: 0 0 auto;
					max-width: 50%;
					padding-right: 10px;
				}
				
					.site-form__captcha-image img {
						display: block;
						max-width: 100%;
					}
				
				.site-form__item--captcha .site-form__field-text {
					flex: 1 1 50%;
				}
		
			.site-form__field-text,
			.site-form__field-email,
			.site-form__field-textarea {
				border: 1px solid #d8cabf;
				font-family: inherit;
				padding: 10px;
				width: 100%;
			}
			
			.site-form__field-textarea {
				min-height: 150px;
			}
			
			.site-form__field-checkbox {
				-webkit-appearance: none;
				background: none;
				border: none;
				cursor: pointer;
				height: 22px;
				margin-right: 8px;
				outline: none;
				position: relative;
				vertical-align: middle;
				width: 22px;
			}

				.site-form__field-checkbox:before {
					background: #fff;
					border: 1px solid #fff;
					content: '';
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
				}

				.site-form__field-checkbox:checked:after {
					border-bottom: 2px solid #64452c;
					border-left: 2px solid #64452c;
					content: "";
					height: 7px;
					margin: 5px 0 0 5px;
					position: absolute;
					transform: rotate(-45deg);
					width: 14px;
				}

@media (min-width: 768px) {
	.site-form--two-column {
		max-width: 767px;
	}
	
		.site-form--two-column .site-form__inner {
			display: grid;
			grid-column-gap: 15px;
			grid-row-gap: 15px;
			grid-template-areas: "form-name form-message" "form-phone form-message" "form-email form-message" "form-button .";
			grid-template-columns:50%;
			grid-template-rows: auto;
		}
		
		.site-form--two-column .site-form__item {
			margin-bottom: 0;
		}
		
			.site-form--two-column .site-form__item--name {
				grid-area: form-name;
			}
			
			.site-form--two-column .site-form__item--phone {
				grid-area: form-phone;
			}

			.site-form--two-column .site-form__item--phone {
				grid-area: form-phone;
			}
			
			.site-form--two-column .site-form__item--email {
				grid-area: form-email;
			}
			
			.site-form--two-column .site-form__item--message {
				grid-area: form-message;
			}

			.site-form--two-column .site-form__item--button {
				grid-area: form-button;
			}
	
				.site-form--two-column .site-form__field-textarea {
					height: 100%;
					min-height: auto;
				}
				
	.site-form--line .site-form__inner {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -4px;
	}
	
		.site-form--line .site-form__item {
			flex: 0 0 50%;
			max-width: 50%;
			padding: 0 4px;
			margin-bottom: 30px;
		}
}