@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&subset=cyrillic');

@font-face {
	font-family: 'HelveticaNeueCyr';
	src:  url('fonts/HelveticaNeueCyr-Bold.eot');
	src:  url('fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
				url('fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
				url('fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'),
				url('fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg'),
				url('fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src:  url('fonts/HelveticaNeueCyr-BoldItalic.eot');
	src:  url('fonts/HelveticaNeueCyr-BoldItalic.woff2') format('woff2'),
				url('fonts/HelveticaNeueCyr-BoldItalic.woff') format('woff'),
				url('fonts/HelveticaNeueCyr-BoldItalic.ttf') format('truetype'),
				url('fonts/HelveticaNeueCyr-BoldItalic.svg#HelveticaNeueCyr-BoldItalic') format('svg'),
				url('fonts/HelveticaNeueCyr-BoldItalic.eot?#iefix') format('embedded-opentype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src:  url('fonts/HelveticaNeueCyr-Italic.eot');
	src:  url('fonts/HelveticaNeueCyr-Italic.woff2') format('woff2'),
				url('fonts/HelveticaNeueCyr-Italic.woff') format('woff'),
				url('fonts/HelveticaNeueCyr-Italic.ttf') format('truetype'),
				url('fonts/HelveticaNeueCyr-Italic.svg#HelveticaNeueCyr-Italic') format('svg'),
				url('fonts/HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src:  url('fonts/HelveticaNeueCyr-Roman.eot');
	src:  url('fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
				url('fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
				url('fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'),
				url('fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg'),
				url('fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

body {
	color: #424242;
	font: 15px 'HelveticaNeueCyr', sans-serif;
	line-height: 1.15;
	word-wrap: break-word;
}

h1, .h1 {
	font: normal 30px 'Noto Serif', sans-serif;
	margin: 0 0 30px 0;
	text-align: center;
}

h2, .h2 {
	font: normal 28px 'Noto Serif', sans-serif;
	margin: 0 0 28px 0;
	padding: 0;
	text-align: center;
}

h3, .h3 {
	font: normal 22px 'Noto Serif', sans-serif;
	margin: 0 0 16px 0;
	padding: 0;
	text-align: center;
}

h4, .h4 {
	font: normal 18px 'Noto Serif', sans-serif;
	margin: 0 0 16px 0;
	padding: 0;
	text-align: center;
}

p {
	line-height: 1.5;
	margin: 20px 0;
}

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

a {
}

	a[href*=tel] {
		text-decoration: none;
	}

.pseudo-link {
	cursor: pointer;
	text-decoration-style: dashed;
}

	a,
	.pseudo-link {
		color: #64452c;
		text-decoration-color: rgba(100,69,44,.3);
		transition: text-decoration-color .3s, color .3s;
	}

	a:hover,
	.pseudo-link:hover {
		color: #64452c;
		text-decoration-color: rgba(100,69,44,0);
	}

	a:active {
		background: none;
	}

	a * {
		cursor: pointer;
	}

	a[href^="tel"] {
		color: inherit;
	}

img {
	border: none;
}

.clear {
	clear: both;
	float: none;
	height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.clearfix {
	zoom: 1;
}

	.clearfix:before,
	.clearfix:after {
		content: "";
		display: table;
		line-height: 0;
	}

	.clearfix:after {
		clear: both;
	}
	
.hr {
	border-top: 1px solid #d8cabf;
	margin: 18px 0;
}

.em {
	font-style: italic;
}

.strong {
	font-weight: bold;
}

.ul-nomarker
{
	line-height: 1.5;
	list-style: none;
	margin: 20px 0;
	padding: 0;
}

	.ul-nomarker:first-child,
	.ul-nomarker.first-child {
		margin-top: 0;
	}

	.ul-nomarker:last-child,
	.ul-nomarker.last-child {
		margin-bottom: 0;
	}

	.ul-nomarker li {
		margin: 0 0 7px 0;
	}

.ul-marker {
	line-height: 1.5;
	list-style: none;
	margin: 20px 0;
	padding: 0;
}

	.ul-marker li {
		margin: 0 0 7px 0;
		padding: 0 0 0 28px;
		position: relative;
	}

	.ul-marker li:before {
		content: "—";
		left: 0;
		line-height: 0;
		position: absolute;
		top: 7px;
	}

.ol-numbers {
	counter-reset: item;
	line-height: 1.5;
	list-style: none;
	margin: 20px 0;
	padding: 0;
}

	.ol-numbers li
	{
		margin: 0 0 7px 0;
		padding: 0 0 0 28px;
		position: relative;
	}

	.ol-numbers li:before {
		content: counters(item,".") ". ";
		counter-increment: item;
		left: 0;
		position: absolute;
		top: 0;
	}

.svg-icon {
	display: inline-block;
	fill-rule: evenodd;
	vertical-align: middle;
}

.site-button {
	align-items: center;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #64452c;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-size: 13px;
	height: 36px;
	justify-content: center;
	margin: 0;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
	transition: all .3s;
}

	.site-button:hover {
		background-color: #765438;
		color: #fff;
	}
	
	.site-button--big {
		font-size: 14px;
		height: 40px;
	}
	
	.site-button--white {
		background: #fff;
		color: #424242;
	}
	
.warning-text-block {
	border: 2px solid #efe5dd;
	margin: 20px 0;
	padding: 16px 24px;
}

.important-text {
	font-size: 16px;
	text-align: center;
}

@media (min-width: 768px) {
	body {
		font-size: 16px;
	}
	
	h1, .h1 {
		font-size: 36px;
	}
	
	h2, .h2 {
		font-size: 32px;
	}
	
	h3, .h3 {
		font-size: 26px;
	}
	
	h4, .h4 {
		font-size: 22px;
	}
	
	.important-text {
		font-size: 17px;
		text-align: center;
	}
}

@media (min-width: 992px) {
	.site-button {
		padding: 0 22px;
	}
}

@media (min-width: 1200px) {

}