.b-core-ui-select
{
position:relative;
font-size:14px;
line-height:39px;
height:39px;
color:#666;
cursor:pointer;
background-color:#fff;
border:1px solid #e1e1e1;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

.b-core-ui-select.error
{
border-color:#ff0000;
}

.b-core-ui-select__select
{
position:static;
width:80%;
padding:10px;
font-size:12px;
line-height:18px;
}

.b-core-ui-select__value
{
display:block;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
padding:0 39px 0 24px;
}

.b-core-ui-select__select_state_hide
{
height:1px!important;
margin:0;
padding:0;
position:absolute;
width:1px!important;
text-indent:-9999px;
overflow:hidden;
opacity:0;
z-index:-1;
filter:alpha(opacity = 0);
}

.b-core-ui-select.open
{
border-bottom-color:transparent;
}

.b-core-ui-select.disabled,
.b-core-ui-select.disabled:active
{
opacity:.5;
color:#333333;
background-color:#e6e6e6;
background-position:0 -15px;
transition:background-position 0.1s linear;
}

.b-core-ui-select__button
{
position:absolute;
right:0px;
top:0px;
width:39px;
height:39px;
border-left:1px solid #e1e1e1;
display:block;
}

.b-core-ui-select__button span
{
display:block;
width:0;
height:0;
border-top:5px solid #adadad;
border-right:5px solid transparent;
border-left:5px solid transparent;
content:"";
margin-top:18px;
margin-left:13px;
}

.b-core-ui-select.error .b-core-ui-select__button span
{
border-top:5px solid #ff0000;
}

.b-core-ui-select__dropdown
{
display:none;
position:absolute;
top:0;
color:#818181;
margin-top:-1px;
padding:4px 10px 4px 24px;
max-height:200px;
font-size:13px;
border:1px solid #e1e1e1;
border-top:none;
background-color:#fff;
}

.b-core-ui-select__dropdown.error
{
border:1px solid #ff0000;
border-top-color:transparent;
}

.b-core-ui-select__dropdown.hide
{
display:none;
}

.b-core-ui-select__dropdown.show
{
display:block;
}

.b-core-ui-select__dropdown__wrap
{
max-height:200px;
overflow:auto;
outline:none;
}


.j-scroll-pane .b-core-ui-select__dropdown__item
{
margin-right:20px;
}

.b-core-ui-select__dropdown__list
{
overflow:hidden;
margin:0!important;
padding:0px;
}

.b-core-ui-select__dropdown__item
{
padding:5px 0;
min-height:18px;
list-style-type:none;
cursor:pointer;
}


.b-core-ui-select__dropdown__label
{
padding:10px;
min-height:18px;
font-style:italic;
list-style-type:none;
border-bottom:1px solid #ccc;
}

.b-core-ui-select__dropdown__item.disabled,
.b-core-ui-select__dropdown__item.disabled:hover
{
color:#000;
background:none;
}

.b-core-ui-select__dropdown__item.selected,
.b-core-ui-select__dropdown__item.selected:hover
{
color:#ff4dbe;
}

.b-core-ui-select__dropdown__item:hover
{
color:#ff4dbe;
}